<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_3J3XEH9-x0jFZMDKoKz7c8R4i3shNp4</string>
	<key>GCM_SENDER_ID</key>
	<string>711670113190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mySchoolLife</string>
	<key>PROJECT_ID</key>
	<string>my-school-life-c707a</string>
	<key>STORAGE_BUCKET</key>
	<string>my-school-life-c707a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:711670113190:ios:954207fb7e01c301d86567</string>
	<key>DATABASE_URL</key>
	<string>https://my-school-life-c707a-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>